ABHISHEK CHAUDHARY

1. Write a Program to accept percentage from the user and display the grade according to the folowing crireria:

marks              grade
>90                  A
>80 and <=90         B
<=60 and <=80        C
below 60             D

user= float(input("Enter marks "))
if user>90:
    print("A")
elif user >80 and user <=90:
    print("B")
elif user>=60 and user<=80:
    print("C")
else: print("D")

2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:
Tax            Cost Price(in ₹)
15%               >100000
10%               >50000 and <=100000
5%                <=50000

user= int(input("Enter cost price of your bike "))
if user>100000:
    print(f"Tax to be paid is ₹ {user*.15}")
elif user>50000 and user <=100000:
    print(f"Tax to be paid is ₹ {user*.1}")
else: print(f"Tax to be paid is ₹ {user*.05}")

3. Accept any city from the user and display monuments of that city.
City             Monument
Delhi            Red Fort
Agra             Taj Mahal
Jaipur           Jal Mahal

user = input("Enter any  city (Delhi,Agra,Jaipur)");
dict= {"Delhi":"Red Fort","Agra":"Taj Mahal", "Jaipur":"Jal Mahal"}
print(f"The monument in {user} is {dict[user]}")

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10

user=int(input("Enter a number "))
a=user
count=0

while(user>11):
    b= user/3
    user=b
    count+=1
print(f"The number of times {a} can be divided by 3 before it is <=10 is {count}")

5. Why and when to use while loop in Python Give detailed description with examples.

When we dont know in  advance that how much times we want to iterate(loop) a coded block(sequence of statements), then in this case we use while loop. A while loop is like a non-govt(private) job in which we don't know how much time we will spend there.

6. Use nested while loop to print 3 different pattern

In [17]:
#pattern1
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [18]:
#pattern2
i=1;j=1
while i<=10:
    while j<=10:
        print("*","$"*5)
        j+=1
    i+=1

* $$$$$
* $$$$$
* $$$$$
* $$$$$
* $$$$$
* $$$$$
* $$$$$
* $$$$$
* $$$$$
* $$$$$

In [22]:
#pattern3
i=1
while i<=5:
    print(".")
    j=1
    while j<=i:
        print(i**j,end=" ")
        j=j+1
    print("*")
    i=i+1

.
1 *
.
2 4 *
.
3 9 27 *
.
4 16 64 256 *
.
5 25 125 625 3125 *

7. Reverse a while loop to display numbers from 10 to 1

In [23]:
i=10
while i>=1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

8. Reverse a while/for loop to display numbers from 10 to 1

In [26]:
for i in range(10,0,-1):print(i)

10
9
8
7
6
5
4
3
2
1